@charset "UTF-8";

/* 回答はここに書いてね */
.q7_clearfix::after{
  content:"";
  display: block;
  clear: both;
}


.q7_box_float{
  margin-left: 50px;
  width: 225px;
  box-sizing: border-box;
  float: left;
  /*灰色の箱がwidth: 500px;なので225pxのboxを二つ作ってbox-sizingすると
  真ん中に50px間ができる、外側の灰色は灰色の箱のpadding*/
}

.q7_box_float:first-child{
  margin-left: 0;
}

/* .q7_box_float:first-child{
  float: left;
}
.q7_box_float:last-child{
  float: right; 
}修正前*/


.q7_table{ /*一番大きいやつ　tableでテーブルを作れるようにする
  collapseで罫線の被りをなくす　border-spacingするときはcollapseしない*/
  display: table;
  margin: auto;
}

.q7_table_cell{
  padding-left: 50px; /*tablecellにmarginは無効*/
  width: 225px;
  display: table-cell;
  vertical-align: middle;
}

.q7_table_cell:first-child{
  padding-left: 0;
}

.q7_inline_block{
  border-collapse: collapse;
  width: 500px;
  font-size: 0;
  /*inline-blockの間には隙間があるからfont-size: 0;にして対処しないと50pxのmarginが入らない*/
}

.q7_box_block{

  display: inline-block;
  width: 225px;
  vertical-align: middle;
  box-sizing: border-box;
  margin-left: 50px;
  font-size: 16px;
}

.q7_box_block:first-child{
  margin-left: 0;
}

/* flexbox flex-direction:row; で横並び、justify-content:space-aroundで
周りに均等にスペースをとる、align-items:flex-end で箱の下ぞろえ*/
.q7_inner_flexbox{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.q7_flexbox_box{
  width: 225px;
  box-sizing: border-box;/*box-sizingしないとスペースが足りなくて均等にならない*/
}


.q7_content_box{ /*大きい箱*/
  font-size: 0; /*inline-block間に隙間があるので*/
}


/* .q7_box_textのところでstyleを適用したらうまくいかなかった
字とかに関係のないcssなのでほかの箱でやるべきなんだと思う */
.q7_fixed_text{ /*固定の箱*/
  display: inline-block;
  width: 300px;
  vertical-align: top;
  box-sizing: border-box;
}


.q7_var_text{ /*可変の箱*/
  display: inline-block;
  overflow: hidden;
  /*overflow: hidden;で入りきらない字を処理する*/
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
  word-break: keep-all;
  vertical-align: top;
}

.q7_last_box{
  font-size: 16px;
}

/* 回答はここに書いてね */

