@charset "UTF-8";

/* 回答はここに書いてね */

/* 全体を囲うやつ */
.q4_content{
  padding: 20px; 
  box-sizing: border-box;
}

/* テーブル全体 */
.q4_table{
  display: table;
  width: 100%; /*100％で横幅いっぱい*/
  margin-top: 40px;
}
/*first-childからmarginをとって固定する*/
.q4_table:first-child{
  margin-top: 0;
}



/* テーブルのセル の共通要素*/
.q4_tablecell{ 
  display: table-cell; 
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}
/* 固定のやつ */
.fix_box{
  width: 100px;
  /*幅いっぱいに使う命令をしているのでwidth: 100px;の両サイドを固定し可変部の長さが変わる*/
}
/* 色わけ 左 */
.fix_box_salmon{
  background-color: #fdc8b8;
}
/* 色分け　右 */
.fix_box_blue{
  background-color: #b6d8ed;
}
/* 可変 */
.variable_box_purple{
  background-color: #e0abd9;
}



/* 固定のやつ */
.f_box{ /*これも上と同じで可変部を作り出している*/
  width: 500px;
}
  /* 固定　色 */
.f_box_green{
  background-color: #8fdcad;
}
/* 可変のやつ 左 */
.var_box_yellow{
background-color: #e5d32e;
}
/* 可変のやつ　右 */
.var_box_pink{
  background-color: #ec8f9a;
}

/* 回答はここに書いてね */
